<div class="flex lg:flex-row flex-col justify-center items-center relative">
    <div class="lg:w-[40%] lg:pr-10 w-full p-10">
        <h1 class="text-center text-3xl font-bold pb-4">Contact Us</h1>
        <form #contactform="ngForm" (submit)="getContactDetails(contactform)"
            class="flex flex-col justify-center items-center relative">
            <div class="flex flex-col w-full ">
                <label for="email" class="text-lg pb-2">Your Email Address:</label>
                <input class="p-4 border-2 border-gray-300 placeholder:pl-2 h-14 rounded-md" type="email" name="email"
                    id="email" placeholder="Enter Your Email" ngModel>
            </div>
            <br>
            <div class="flex flex-col w-full">
                <label for="subject" class="text-lg pb-2">Subject:</label>
                <input class="p-4 border-2 border-gray-300 placeholder:pl-2 h-20 rounded-md" type="text" name="subject"
                    id="subject" placeholder="Enter Your Subject" ngModel>
            </div>
            <br>
            <div class="flex flex-col w-full">
                <label for="email" class="text-lg pb-2">How can we help?</label>
                <input class="p-4 border-2 border-gray-300 placeholder:pl-2 h-28 rounded-md" type="email" name="email"
                    id="email" placeholder="Enter Your Email" ngModel>
            </div>
            <br>
            <button type="submit" class="py-3 px-8 bg-black text-white">SEND</button>
        </form>
    </div>

    <br>
    <iframe class="lg:w-[50%] lg:h-[70vh] w-[80vw] h-[60vh]"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4844.116912307468!2d79.87481677698119!3d13.139071023372255!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a529188fda90a9f%3A0x3827c9cee29f940f!2sMB&#39;s%20Cakes!5e0!3m2!1sen!2sin!4v1715843959773!5m2!1sen!2sin"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>