<div class="flex justify-center items-center">
    <div class="w-[70%] flex flex-col justify-center items-center">
        <h1 class="text-3xl font-bold">Our Stats</h1>
        <br>
        <div class="grid md:grid-cols-3 gap-14 grid-cols-1">
            <div class="flex flex-col justify-center items-center relative ">
                <div class="flex text-[#957171] text-[4.5rem]">
                    <p data-target="100">100</p>
                    <div>+</div>
                </div>
                <div class="text-lg text-center">No. of Cakes Delivered</div>
            </div>
            <div class="flex flex-col justify-start items-center relative">
                <div class="flex text-[#957171] text-[4.5rem]">
                    <p data-target="40">40</p>
                    <div>+</div>
                </div>
                <div class="text-lg text-center">No. of Customers</div>
            </div>
            <div class="flex flex-col justify-center items-center relative">
                <div class="flex text-[#957171] text-[4.5rem]">
                    <p data-target="30">30</p>
                    <div>+</div>
                </div>
                <div class="text-lg text-center">No. of Unique Designs</div>
            </div>
        </div>
    </div>

</div>