<div class="w-[28vh] h-[30vh] bg-white shadow-xl rounded-3xl flex flex-col border-2 border-gray-100 absolute  p-3">
    <div class="relative">
        <img src="../../../assets/images/cakehero.jpg" class="rounded-xl w-full" alt="">
        <div class="absolute top-5 flex px-2">
            <button class="py-1 px-3 bg-white text-black rounded-xl border text-[0.5rem]">Anniversary</button>

        </div>
        <div class="absolute top-4 right-3 flex px-2">
            <div class="bg-white p-1 rounded-full ml-2">
                <img width="24" height="24" src="https://img.icons8.com/windows/32/F2536D/hearts.png" alt="hearts">
            </div>
        </div>
    </div>

    <div class="flex justify-between item-center pt-3  px-2">
        <p class=" text-gray-700 ">Choco Truffle</p>
        <p class="text-gray-700">₹600</p>
        
    </div>
    <div class="flex pt-2 px-2">
        <img width="24" height="24" src="https://img.icons8.com/fluency-systems-filled/48/F2536D/star.png" alt="star"/>
        <img width="24" height="24" src="https://img.icons8.com/fluency-systems-filled/48/F2536D/star.png" alt="star"/>
        <img width="24" height="24" src="https://img.icons8.com/fluency-systems-filled/48/F2536D/star.png" alt="star"/>
    </div>
    
</div>