<div class="flex justify-center items-center">
    <div class="w-[70%] flex flex-col justify-center items-center">
        <h1 class="text-3xl font-bold">Why Trust Us</h1>
        <br>
        <div class="grid lg:grid-cols-4 gap-10 grid-cols-1 sm:grid-cols-2">
           
            <div
                class="flex flex-col justify-start items-center relative py-3 bg-white shadow-lg rounded-xl border-2 border-gray-750">
                <img src="https://t4.ftcdn.net/jpg/06/76/85/95/360_F_676859596_PliJzLqgSah5lXsM7HDwTzu5NLQIIJtv.jpg"
                    alt="">
                <div class="text-lg text-center text-black">Best Quality</div>
            </div>
            <div
            class="flex flex-col justify-start items-center relative py-3 bg-white shadow-lg rounded-xl border-2 border-gray-750">
            <img src="https://t4.ftcdn.net/jpg/04/29/81/81/360_F_429818115_FC8Yo1bGel4E8YXnLyA3HChkrGVU0h25.jpg"
                alt="">
            <div class="text-lg text-center text-black">On time Delivery</div>
        </div>
            <div
                class="flex flex-col justify-start items-center relative py-3 bg-white shadow-lg rounded-xl border-2 border-gray-750">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhkb2BofPXZkIVf8-L7cxD8ORT9-OOTgdJLA&s"
                    alt="">
                <div class="text-lg text-center text-black">Safe Payment</div>
            </div>
            <div
                class="flex flex-col justify-start items-center relative py-3 bg-white shadow-lg rounded-xl border-2 border-gray-750">
                <img src="https://previews.123rf.com/images/glopphy/glopphy1412/glopphy141200109/34869641-heart-and-hand-vector-icon-design.jpg"
                    alt="">
                <div class="text-lg text-center text-black">Made with love</div>
            </div>


        </div>
    </div>

</div>