<div class="hidden md:block p-10">
    <div class="w-full h-[60vh] bg-[#FFF7F4] rounded-3xl flex ">
        <div class="md:w-[50%] p-10 flex flex-col justify-center item-center space-y-5">
            <h1 class="text-4xl text-left">Is your birthday in June? Then this offer is for you
            </h1>

            <p class="text-gray-700 text-left">10% offer for 1/2 Kg and 20% offer for 1kg</p>
            <button class="py-3 bg-[#957171] text-white w-[40%] rounded-xl">Place order</button>
        </div>
        <div class="md:w-[50%] flex center p-5 ">
            <img src="https://cdn.cdnparenting.com/articles/2018/04/407263582-H.jpg" class="rounded-xl" alt="">
        </div>
    </div>
</div>

<div class="block md:hidden ">
    <div class="w-full bg-[#FFF7F4] rounded-3xl flex flex-col">
        <div class="p-5">
            <img src="https://cdn.cdnparenting.com/articles/2018/04/407263582-H.jpg" class="rounded-xl w-full" alt="">
        </div>
        <div class="p-6 flex flex-col justify-center item-center space-y-5">
            <h1 class="text-2xl">Is your birthday in June? Then this offer is for you
            </h1>
            <p class="text-gray-700">10% offer for 1/2 Kg and 20% offer for 1kg</p>
            <button class="py-2 bg-[#957171] text-white w-[70%] rounded-xl self-center">Place order</button>
        </div>
    </div>
</div>