<div class="w-full h-screen flex justify-center items-center bg-no-repeat bg-cover"
    style="background-image: url('https://images.unsplash.com/photo-1490367605959-06955305859b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
    <div
        class=" md:w-[50vw] md:h-[75vh] lg:w-[35vw] h-[75vh] w-[70vw] bg-white rounded-lg flex justify-center items-center flex-col p-5">
        <h1 class="text-3xl font-semibold text-[#2c2c2c] pt-2">Sign Up</h1>
        <br>
        <form #registerForm="ngForm" (submit)="register(registerForm)"
            class="flex justify-center items-center flex-col">
            <div class="flex flex-col w-full">
                <label for="email" class="pb-1 text-lg">Email :</label>
                <input class="p-4 border-2 border-gray-300 placeholder:pl-2 h-10 rounded-md lg:w-[25vw]" type="email"
                    name="useremail" id="email" placeholder="Enter Your Email" ngModel>
            </div>
            <br>
            <div class="flex flex-col w-full">
                <label for="phone" class="pb-1 text-lg">Phone Number :</label>
                <input class="p-4 border-2 border-gray-300 placeholder:pl-2 h-10 rounded-md lg:w-[25vw]" type="tel"
                    name="userphone" id="phone" placeholder="Enter Your Phone Number" ngModel>
            </div>
            <br>
            <div class="flex flex-col w-full">
                <label for="password" class="pb-1 text-lg">Password :</label>
                <input class="p-4 border-2 border-gray-300 placeholder:pl-2 h-10 rounded-md lg:w-[25vw] "
                    type="password" name="userpassword" id="password" placeholder="Enter Your Password" ngModel>
            </div>
            <p class="py-2 text-[0.7rem]">Already registered ? <span><a class="text-purple-700 font-bold" href="/">Sign
                        In</a></span></p>


            <button class="px-4 py-1 bg-[#2a2a2a] text-white rounded-sm" type="submit">Continue</button>
        </form>
        <p class="text-base pt-3">Or</p>
        <div id="g_id_onload" data-client_id="720231613464-7eljvamcid36jarlbaqb17999rhsap8u.apps.googleusercontent.com"
            data-context="signin" data-ux_mode="popup" data-login_uri="http://localhost:8080/v1/auth/login"
            data-auto_prompt="false">
        </div>

        <div class="g_id_signin" data-type="standard" data-shape="rectangular" data-theme="filled_blue"
            data-text="signin_with" data-size="large" data-logo_alignment="left">
        </div>
    </div>

</div>