<div class="w-full bg-[#F2F9FF] rounded-3xl flex md:flex-row flex-col ">
    <div id="imageContainer" class="p-5 md:w-[30%] justify-center items-center hidden">
        <img src="https://i.guim.co.uk/img/media/e99c6dab233378cb157f764a8cf38ff6c25b04ab/0_100_3000_1800/master/3000.jpg?width=1200&height=900&quality=85&auto=format&fit=crop&s=61f73c5e822cbab504f848e69e695dd0"
            class="rounded-xl w-full h-[40vh]" alt="">
    </div>
    <div id="textContainer" class="md:w-[70%] p-10 flex-col justify-center item-center space-y-5 hidden">
        <h1 class="text-2xl md:text-4xl animate__animated animate__fadeInRight">About <span class="font-bold">MB's
                CAKES</span></h1>
        <div class="flex">
            <p class="pr-2 text-[#F2536D]">Know More </p>
            <a href=""><img width="27" height="32" src="https://img.icons8.com/laces/64/arrow.png" alt="arrow" /></a>
        </div>
        <p class="text-black text-base animate__animated animate__fadeInRight">Lorem ipsum dolor sit amet consectetur,
            adipisicing elit. Obcaecati, quam
            ullam,
            magni doloribus, accusamus ipsa amet est et assumenda quis vel! At odio unde sint. Dolores laboriosam
            omnis aperiam saepe.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati, quam ullam,
            magni doloribus, accusamus ipsa amet est et assumenda quis vel! At odio unde sint. Dolores laboriosam
            omnis aperiam saepe.</p>
    </div>
</div>