<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="hidden md:block">
                <div class="w-full h-[70vh] bg-[#FFF6F6] rounded-3xl flex ">
                    <div class="md:w-[50%] p-10 flex flex-col justify-center item-center space-y-5">
                        <h1 class="text-4xl text-left">Enter a World of Sweet Temptation: Explore Mb's cakes Heavenly
                            Creations!
                        </h1>
                        <p class="text-gray-700 text-left">Savor Every Moment with Our Exquisite Confections</p>
                        <button class="py-3 bg-[#F2536D] text-white w-[40%] rounded-xl">Wanna Buy A Cake</button>
                    </div>
                    <div class="md:w-[50%] flex center p-5 ">
                        <img src="../../../assets/images/cakehero.jpg" class="rounded-xl" alt="">
                    </div>
                </div>
            </div>

            <div class="block md:hidden">
                <div class="w-full bg-[#FFF6F6] rounded-3xl flex flex-col">
                    <div class="p-5">
                        <img src="../../../assets/images/cakehero.jpg" class="rounded-xl w-full" alt="">
                    </div>
                    <div class="p-10 flex flex-col justify-center item-center space-y-5">
                        <h1 class="text-2xl">Enter a World of Sweet Temptation: Explore Mb's Cakes Heavenly Creations!
                        </h1>
                        <p class="text-gray-700">Savor Every Moment with Our Exquisite Confections</p>
                        <button class="py-3 bg-[#F2536D] text-white w-[70%] rounded-xl self-center">Wanna Buy A
                            Cake</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">
            <div class="hidden md:block">
                <div class="w-full h-[70vh] bg-[#FFF6F6] rounded-3xl flex ">
                    <div class="md:w-[50%] p-10 flex flex-col justify-center item-center space-y-5">
                        <h1 class="text-4xl text-left">Enter a World of Sweet Temptation: Explore Mb's cakes Heavenly
                            Creations!
                        </h1>
                        <p class="text-gray-700 text-left">Savor Every Moment with Our Exquisite Confections</p>
                        <button class="py-3 bg-[#F2536D] text-white w-[40%] rounded-xl">Wanna Buy A Cake</button>
                    </div>
                    <div class="md:w-[50%] flex center p-5 ">
                        <img src="../../../assets/images/cakehero.jpg" class="rounded-xl" alt="">
                    </div>
                </div>
            </div>

            <div class="block md:hidden">
                <div class="w-full bg-[#FFF6F6] rounded-3xl flex flex-col">
                    <div class="p-5">
                        <img src="" class="rounded-xl w-full" alt="">
                    </div>
                    <div class="p-10 flex flex-col justify-center item-center space-y-5">
                        <h1 class="text-2xl">Enter a World of Sweet Temptation: Explore Mb's Cakes Heavenly Creations!
                        </h1>
                        <p class="text-gray-700">Savor Every Moment with Our Exquisite Confections</p>
                        <button class="py-3 bg-[#F2536D] text-white w-[70%] rounded-xl self-center">Wanna Buy A
                            Cake</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>